braintree==3.30.0
cffi==1.8.3
Django==1.8.15
django-adminfilters==0.3
django-analytical==2.2.2
django-crispy-forms==1.6.0
django-registration-redux==1.4
enum34==1.1.6
idna==2.1
ipaddress==1.0.17
Pillow==3.4.2
pyasn1==0.1.9
pycparser==2.14
requests==2.11.1
six==1.10.0
wheel==0.24.0
